<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liujie.dao.SmbmsUserMapper">
  <resultMap id="BaseResultMap" type="com.liujie.model.SmbmsUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userCode" jdbcType="VARCHAR" property="userCode" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="userPassword" jdbcType="VARCHAR" property="userPassword" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthDay" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="userRole" jdbcType="VARCHAR" property="userRole" />
    <result column="createdBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="modifyBy" jdbcType="VARCHAR" property="modifyBy" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>

  <resultMap id="AddressMap" type="com.liujie.model.SmbmsUser">
    <collection property="listAddress" ofType="com.liujie.model.SmbmsAddress" select="selectAdress" column="id">
        <id property="id" column="id"/>
        <result property="contact" column="contact"/>
        <result property="addressDesc" column="addressdesc"/>
        <result property="postCode" column="postcode"/>
        <result property="tel" column="tel"/>
        <result property="createdBy" column="createdBy"/>
        <result property="creationDate" column="creationdate"/>
        <result property="modifyBy" column="modifyby"/>
        <result property="modifyDate" column="modifydate"/>
        <result property="userId" column="userid"/>
      </collection>
  </resultMap>

  <select id="selectAdress" resultMap="AddressMap">
        select * from smbms_address where userId= #{id}
  </select>

  <select id="selectAddressById" resultMap="AddressMap">
    select * from smbms_user where id = #{id}
  </select>


<!--  <resultMap id=blogResult” type=”Blog”>-->
<!--  <collection property="posts" javaType=”ArrayList” column="blog_id"-->
<!--  ofType="Post" select=”selectPostsForBlog”/>-->
<!--</resultMap>-->

<!--<select id=”selectBlog” parameterType=”int” resultMap=”blogResult”>-->
<!--        SELECT * FROM BLOG WHERE ID = #{id}-->
<!--        </select>-->

<!--<select id=”selectPostsForBlog” parameterType=”int” resultType="Author">-->
<!--        SELECT * FROM POST WHERE BLOG_ID = #{id}-->
<!--        </select>-->

<sql id="Base_Column_List">
    id, userCode, userName, userPassword, gender, birthday, phone, address, userRole, 
    createdBy, creationDate, modifyBy, modifyDate
  </sql>

<!--  query user info -->

  <select id="queryById" resultType="com.liujie.model.SmbmsUser">
    select * from smbms_user where id = #{id};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from smbms_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.liujie.model.SmbmsUser">
    insert into smbms_user (userCode, userName,
      userPassword, gender, birthday, 
      phone, address, userRole, 
      createdBy, creationDate, modifyBy, 
      modifyDate)
    values (#{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{userPassword,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{birthDay,jdbcType=DATE},
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR},
      #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR},
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.liujie.model.SmbmsUser">
    insert into smbms_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="usercode != null">
        userCode,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userpassword != null">
        userPassword,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="userrole != null">
        userRole,
      </if>
      <if test="createdby != null">
        createdBy,
      </if>
      <if test="creationdate != null">
        creationDate,
      </if>
      <if test="modifyby != null">
        modifyBy,
      </if>
      <if test="modifydate != null">
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null">
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null">
        #{userrole,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null">
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        #{modifyby,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liujie.model.SmbmsUser">
    update smbms_user
    <set>
      <if test="usercode != null">
        userCode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        userPassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null">
        userRole = #{userrole,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        createdBy = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null">
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        modifyBy = #{modifyby,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liujie.model.SmbmsUser">
    update smbms_user
    set userCode = #{userCode,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR},
      userPassword = #{userPassword,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      birthday = #{birthDay,jdbcType=DATE},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      userRole = #{userRole,jdbcType=VARCHAR},
      createdBy = #{createdBy,jdbcType=VARCHAR},
      creationDate = #{creationDate,jdbcType=TIMESTAMP},
      modifyBy = #{modifyBy,jdbcType=VARCHAR},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByIds" resultType="com.liujie.model.SmbmsUser">
    select * from smbms_user where id in
    <foreach collection="array" separator="," item="id" open="(" close=")">
      #{id}
    </foreach>


  </select>


  <select id="login" resultType="com.liujie.model.SmbmsUser">
    select  * from smbms_user where userCode = #{userCode} and userPassword = #{userPassword}
  </select>

  <select id="pageList" resultType="com.liujie.model.SmbmsUser">
    select u.id,u.userCode,u.userName,u.birthday,u.gender,u.phone,r.roleName as userRoleName  from smbms_user u join
    smbms_role r on u.userRole = r.id
    <where>
      <if test="name!=null and name !=''">
        u.userName like '%' #{name} '%'
      </if>

      <if test="queryUserRole!=null and queryUserRole !=''">
        and r.id like '%' #{queryUserRole}
      </if>
    </where>
    order by u.id desc
    limit #{skipCount},#{pageSize}
  </select>
  
  <select id="totalCount" resultType="int">
    select count(*)  from smbms_user u join
    smbms_role r on u.userRole = r.id
    <where>
      <if test="name!=null and name !=''">
        u.userName like '%' #{name} '%'
      </if>

      <if test="queryUserRole!=null and queryUserRole !=''">
        and r.roleName like '%' #{queryUserRole}
      </if>
    </where>
  </select>
</mapper>